<div class="search-bar">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label></mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      (input)="filterMessages($event)"
    />
  </mat-form-field>
</div>

<div *ngIf="!(messages$ | async)?.length" class="empty-wrapper">
  Здесь будут отображаться ваши сообщения
</div>

<div *ngIf="messages$ | async as allMessages; else loading">
  <div *ngIf="filteredMessages$ | async as filteredMessages">
    <div *ngIf="filteredMessages.length === 0 && allMessages.length > 0" class="empty-sidebar">
      Не найдено
    </div>
  </div>
</div>

<ng-template #loading>
  <div>Загрузка...</div>
</ng-template>

<mat-list class="wrapper">
  <mat-list-item *ngFor="let message of filteredMessages$ | async">
    <mat-card class="message-card">
      <mat-card-title>
        {{ message.author === userName ? "Вы" : message.author }}
      </mat-card-title>
      <mat-card-subtitle>{{
        message.timestamp | date : "short"
      }}</mat-card-subtitle>
      <mat-card-content>{{ message.text }}</mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
