// @import '@angular/material/theming';

// $theme: mat.define-light-theme((
//   color: (
//     primary: mat.define-palette(mat.$indigo-palette, 700),
//     accent: mat.define-palette(mat.$pink-palette, 500, A200, A400),
//     warn: mat.define-palette(mat.$red-palette, 600),
//   ),
//   typography: mat.define-typography-config(),
// ));

// @include mat.core();
// @include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.no-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-sidebar {
  width: auto;
  height: 100%;
  background: #f5f5f5;
  border-right: 1px solid #e0e0e0;
}

app-chat {
  flex-grow: 1;
  padding: 16px;
}